* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

input, select, button {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #3faffa;
}

button {
    background-color: #3faffa;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #3484d1;
}

.back-btn {
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.8rem 1.6rem;
    background-color: #3faffa;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.back-btn:hover {
    background-color: #bbb;
}
